[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "==2.9.10"
django-redis = "*"
redis = "*"
daphne = "*"
qrcode = "*"

[dev-packages]

[requires]
python_version = "3.12"
